@import url("./root.css");

#form-data {
  margin: 0 auto;
  width: 90%;
}
#form-data form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  gap: 1rem;
}
#form-data input,
#form-data select {
  width: 20%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid var(--primary-border);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

h2 {
  margin: 0;
  padding: 0.5rem;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-border);
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  line-height: 1.5;
}

#downloadbtns,
#blockbtns {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 70%;
}

#downloadbtns > *,
#blockbtns > * {
  width: 20%;
  margin: 0;
  padding: 0.5rem;
  color: var(--primary-color);
  font-weight: bold;
}
#blockbtns > * {
  color: var(--secondary-color);
}

#downloadbtns > button,
#blockbtns > label {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-border);
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

#blockbtns {
  width: 100%;
}

#blockbtns > label {
  background-color: var(--accent-color);
  width: 25%;
  border-radius: 0.5rem 0.5rem 0 0;
}

#blockbtns input {
  display: none;
}

#blockbtns input:checked + label {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  border-bottom: 0px;
}

#main-data {
  background-color: var(--primary-bg);
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  border: 1px solid var(--primary-border);
  padding: 0.5rem;
}

th {
  background-color: var(--accent-color);
  color: var(--white);
  position: sticky;
  top: 0;
}

tr:nth-of-type(2n + 1) {
  background-color: var(--secondary-color);
}

#title {
  padding: 1rem 0;
  font-family: "akzidenz-grotesk-roman";
  margin-bottom: 2rem;
}

#tableview {
  overflow: scroll;
  height: 50vh;
}
