:root {
  --primary-bg: #eee;
  --secondary-bg: #aaa;
  --primary-color: #333;
  --secondary-color: #666;
  --accent-color: #a00;
  --primary-border: #ccc;
  --secondary-border: #bbb;
  --white: #fff;
  --black: #000;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  flex-direction: column;
  min-height: 100vh;
}
